@import url('https://use.typekit.net/jne6owq.css');
@import url('https://use.typekit.net/ysl7mjk.css');

html, body {
    font-family: aktiv-grotesk, sans-serif;
    word-spacing: normal;
}

button {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}

.website-body-1 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.website-body-2 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.website-subheader-1 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.website-caption {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.caption-1 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.footer-button {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
}

.navbar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
}

